:root {
  --base-color: #abcafc;
  --border-color: #1a58a4;
}

#nd-nav {
  transform: translateY(-60px);
}

.hero-background {
  opacity: 0;
  background: url(/hero-mask.webp), radial-gradient(circle at right center, #4b296980, #563277, #4a378c 50%, #4066a8 70%, #32517380);
  -webkit-mask-image: radial-gradient(ellipse 80% 40% at center center, #000 20%, #00000080 50%, #0000);
  mask-image: radial-gradient(ellipse 80% 40% at center center, #000 20%, #00000080 50%, #0000);
}

.hero-logo {
  transform: scale(0);
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 1.8em;
  outline: none;
  background-color: #4b6596;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.1s;
  transform: translateY(20px);
  opacity: 0;
}

.hero-button:hover {
  box-shadow: 0 0 10px var(--base-color), 0 0 25px var(--border-color), 0 0 50px var(--base-color);
  transition: 0.1s;
}

.hero-button:active {
  box-shadow: 0 0 8px var(--base-color), 0 0 8px var(--border-color), 0 0 8px var(--base-color);
  transition: 0.2s;
}